<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801821654029-ki3s7skcu7ap531mms6ngl4asmb21867.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801821654029-ki3s7skcu7ap531mms6ngl4asmb21867</string>
	<key>API_KEY</key>
	<string>AIzaSyDROihKDz1D5nAphOYJ3dmxZ1bQV9AfAEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>801821654029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testly</string>
	<key>PROJECT_ID</key>
	<string>testly-33276</string>
	<key>STORAGE_BUCKET</key>
	<string>testly-33276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801821654029:ios:1915cbbfd703880131e944</string>
</dict>
</plist>